.root {
  width: 100%;
  max-width: 180px;
  border-radius: 30px;
  border: 1px solid #847f7f;
  padding-inline: 15px;
  padding-block: 10px;
  text-align: center;
  text-decoration: none;
  color: #000;
  transition: transform ease 300ms;
  cursor: pointer;
  background: var(--mantine-color-white);
  box-shadow: 6px 5px 8px -1px #969292;
  background-color: #f7cea6;

  @media (max-width: 48em) {
    margin: 0 auto;
  }

  &:where([data-copied='true']) {
    background-color: #76d076;
    color: var(--mantine-color-white);
    border-color: var(--mantine-color-white);
  }

  @mixin hover {
    transform: scale(1.05);
  }
}
